<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="<%- config.keywords %>">
    <meta name="description" content="<%- config.description %>">
    <title><% if (page.title){ %><%= page.title %><% }else{ %><%= config.title %><% } %></title>
    <link rel="icon" href="<%- theme.favicon %>">
    <script src="/lib/jquery.js"></script>
    
    <!-- animate.css IN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- animate.css OUT -->

    <!-- highlight.js IN -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.4.1/styles/androidstudio.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js OUT -->
    
    <!-- fancybox IN -->
    <link rel="stylesheet" href="/lib/jquery.fancybox.min.css">
    <script src="/lib/jquery.fancybox.min.js"></script>
    <script>
        $(function(){
            $("figure").addClass("hljs");
            $("section img").each(function(){
                $(this).wrap("<a data-fancybox='images' href='"+ $(this).attr('src') +"'>");
            })
        })
    </script>
    <!-- fancybox OUT -->
    
    <%- css('css/style') %>
</head>
